// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.smallImg {
    width: 350px;
    height: 250px;
}
.dealsContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    
    a {
        text-decoration: none;
        font-size:18px;
        font-weight:600;
        color: #000;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 30px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 4px 16px;
}

.outerContainer{
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.outerDeals{
   h1 {
    text-align: center;
   }
}

.menuContainer{
   width: 15%;
   border-right: 1px solid #999;
   height: 100vh;

   a{

        color: #000;
        text-decoration: none;
        padding: 15px;
        background-color: #999;
        display: flex;
        padding: 20px;
        font-size: 20px;
        font-weight: 600;

   }
}
body {
    background-image: url("https://i.ibb.co/c6j4b0z/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
.bigImg {
    height:500px;
    padding: 5px;
}
.description{
    padding: 5px;
}
