// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Gothic+A1:400,500,700&display=swap');

.smallImg {
    width: 250px;
    height: 150px;
}
.dealsContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    
    a {
        text-decoration: none;
        font-size:18px;
        font-weight:600;
        color: #000;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 30px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 4px 16px;
}

.outerContainer{
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.outerDeals{
  margin-top: 20px;

   h1 {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
   }
}
.outerDeal {
  display: flex;
  width: 95%;
}

.menuContainer{
   width: 25%;
   border-right: 1px solid #999;
   height: 100vh;

   a{
        font-family: 'Gothic A1', sans-serif;
        color: #333;
        text-decoration: none;
        padding: 20px 25px;
        display: flex;
        font-size: 24px;
        font-weight: 600;
   }
   a:hover {
      color: #fff;
      background-color: #9CCA0E;
   }
}
body {
    background-image: url("https://i.ibb.co/c6j4b0z/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
nav {
    background: #9CCA0E;
    padding: 15px 30px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        padding: 5px 15px;
        background-color: #fff;
        color: #9CCA0E;
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
        font-weight: 700;
        border: 1px solid white;
        border-radius: 10px;
    }
}
.notice, .alert {
    display: none;
} 
.logo {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
}
.innerImg {
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 22px;
      font-family: 'Gothic A1', sans-serif;
    }
}
.description {
    display:flex;
    flex-direction: column;
    padding: 0 15px;

    h2{
        font-family: 'Gothic A1', sans-serif;
    }
    a {
        background-color: #9CCA0E;
        color: #fff;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20px;
        font-weight: 700;
        border: 1px solid #9CCA0E;
        border-radius: 10px;
        text-decoration: none;
        padding: 10px;
        width: 140px;
        text-align: center;
        margin-top: 25px;
        align-self: center;
    }
}

.date, .price, .location{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    align-items: center;

    p {
    margin: 0;
    padding: 10px;
    }
}
.date, .location {
    background-color: #c8c8c8;
}